@using QuickChain.Model;
@model IEnumerable<Block>
<h2>Blocks</h2>
<div>
    <table id="blocks">
        @foreach(Block block in this.Model)
        {
            <tr>
                <td> Block number: <a asp-area="" asp-controller="Blocks" asp-action="Block" asp-route-id="@block.Height">@block.Height</a></td>
                <td> Transactions: <a asp-area="" asp-controller="Blocks" asp-action="Transactions" asp-route-id="@block.Height">@block.Transactions.Count</a></td>
                <td> Time: @block.TimeStamp.Date</td>
            </tr>

        }
    </table>
</div>
<script src="/js/wallet.js"></script>