@using Newtonsoft.Json.Linq
@using QuickChain.Model

@model SignedTransaction

<h2>Transaction: @Model.TransactionHash</h2>

<p>From: @Model.From</p>
<p>To: @Model.To</p>
<p>Value: @Model.Value ETH</p>
<p>Fee: @Model.Fee ETH</p>
@{
    JObject json = JObject.Parse(Model.ToString());
}
<pre id="json">@json</pre>