@using Newtonsoft.Json.Linq
@using QuickChain.Model

@model SignedTransaction

<h2>Transaction: @Model.TransactionHash</h2>

<p><strong>From:</strong> @Model.From</p>
<p><strong>To:</strong> @Model.To</p>
<p><strong>Value:</strong> @Model.Value ETH</p>
<p><strong>Fee:</strong> @Model.Fee ETH</p>
@{
    JObject json = JObject.Parse(Model.ToString());
}
<pre id="json">@json</pre>