@using QuickChain.Model
@model QuickChain.Model.Transaction

<h2>Transaction: @Model.TxHash</h2>

<p>From: @Model.From</p>
<p>To: @Model.To</p>
<p>Value: @Model.Value ETH</p>
<p>Fee: @Model.Fee ETH</p>
<p>Used gas: @Model.UsedGas ETH</p>